/* iran yekan font */
@font-face {
          font-family: "Yfont"; 
          src: url(font/Yfont.ttf);
}

/* snap font */
@font-face {
          font-family: "Sfont";
          src: url(font/snapFont.ttf);
}

/* dena font */
@font-face {
          font-family: "Dfont";
          src: url(font/Dfont.ttf);
}

/* pykan font */
@font-face {
          font-family: "Pfont";
          src: url(font/Pfont.ttf);
}



/* resets */
body {
          margin: 0px;
          padding: 0px;
          /* font-family: "Yfont"; */
        }
        
        /* main */
        header {
          height: 360px;
          z-index: 10;
        }
        .header-banner {
          background-color: #333F44;
          background-image: url("https://37.media.tumblr.com/8b4969985e84b2aa1ac8d3449475f1af/tumblr_n3iftvUesn1snvqtdo1_1280.jpg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          width: 100%;
          height: 300px;
        }
        
        header h1 {
          background-color: #FD7014;
          color: #fff;
          padding: 0 1rem;
          font-family: "Dfont";
          position: absolute;
          top: 2rem;
          right: 2rem;
          border-radius: 3px;
        }
        
        .fixed-header {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
        }
        
        nav {
          width: 100%;
          height: 60px;
          background: #292f36;
          postion: fixed;
          z-index: 10;
        }
        
        nav div {
          color: white;
          font-size: 2rem;
          line-height: 60px;
          position: absolute;
          top: 0;
          left: 2%;
          visibility: hidden;
        }
        .visible-title {
          visibility: visible;
        }
        
        nav ul {
          list-style-type: none;
          margin: 0 2% auto 0;
          padding-left: 0;
          text-align: right;
          max-width: 100%;
        }
        nav ul li {
          display: inline-block;
          line-height: 60px;
          margin-left: 10px;
        }
        nav ul li a {
          text-decoration: none;
          color: #a9abae;
        }
        
        /* demo content */
        body {
          color: #DBD8E3;
          background-color: #212529;
          font-family: "Yfont";
          line-height: 1.6;
          direction: rtl;
        }
        .content {
          margin: 0 auto;
          padding: 4rem 0;
          width: 960px;
          max-width: 100%;
          /* padding: 100px; */
        }
        article {
          float: left;
          width: 720px;
        }
        article p:first-of-type {
          margin-top: 0;
        }
        aside {
          float: right;
          width: 120px;
        }
        p img {
          max-width: 100%;
        }
        
        @media only screen and (max-width: 960px) {
          .data-post {
                    font-size: 13px;
                    float: right;
                    margin-right: -20px;
          }
          .content {
            padding: 2rem 0.1rem;
            width: 90%;
          }
          article {
            float: none;
            margin: 0 auto;
            width: 96%;
          }
          article:last-of-type {
            margin-bottom: 3rem;
          }
          aside {
            float: none;
            text-align: center;
            width: 100%;
          }
        }
        


        #name-post {
          float: right;

        }
